body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  padding-block: 0;
  padding-inline: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(29, 173, 230);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

.App {
  text-align: center;
}

.wrap {
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 1280px;
}


.header {
  display: flex;
  justify-content: center;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 15px;
}

.result-item {
  cursor: pointer;
  border: solid 2px;
  border-radius: 5px;
  padding-top: 5px;
  background-color: whitesmoke;
  color: black;
}

.item-title {
  text-align: center;
  font-weight: 900;
}

.item-description {
  margin: 5px;
}

.error-boundary {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
}

.main-title {
  text-align: center;
}

input {
  width: 30%;
  margin-right: 10px;
}

button {
  cursor: pointer;
}
