.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 25px;
  flex-wrap: wrap;
  padding: 20px 15px;
}

.not-found img {
  background-image: url(../../assets/images/page404.png);
  width: 250px;
  height: 250px;
}
